<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edwin.java.dao.DeptDao">

	<select id="findById" resultType="com.edwin.java.entiy.Dept" parameterType="Long">
		select dept_no deptNo,d_name dName,db_source dbSource from dept where dept_no=#{deptNo};
	</select>
	<select id="findAll" resultType="com.edwin.java.entiy.Dept">
		select dept_no deptNo,d_name dName,db_source dbSource from dept;
	</select>
	<insert id="addDept" parameterType="com.edwin.java.entiy.Dept">
		INSERT INTO dept(d_name,db_source) VALUES(#{dName},DATABASE());
	</insert>

</mapper>
 

